<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
 
</head>

<body>
{% block content %}




  <!--Main layout-->
  <main>
    <div class="container">

      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">Categories:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="{% url 'show' %}">All
                <span class="sr-only">(current)</span>
              </a>
            </li>
             <form class="form-inline" method="GET" action="{% url 'show' %}">
          {% for pt in product_type%}
            <li class="nav-item active">
              <a class="nav-link" href="/category/{{pt.name}}">{{pt.name}}
                <span class="sr-only">(current)</span>
              </a>
            </li>
          {% endfor %}
          </form>
          </ul>
          <!-- Links -->

          <form class="form-inline" method="GET" action="{% url 'show' %}">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="search" 
                    name="search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->

      <!--Section: Products v.3-->
      <section class="text-center mb-4">
     
      

        <!--Grid row-->
        <div class="row wow fadeIn">
        {% for product in product.object_list %}
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{{ product.picture_url.url}}" class="card-img-top"
                  alt="">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>{{product.product_type_id.name}}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{product.get_absolute_url}}" class="dark-grey-text">{{product.name}}
                      <span class="badge badge-pill danger-color">NEW</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>{{product.price}}฿</strong>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->
          {% endfor %}

       
        </div>
        <!--Grid row-->

      </section>
      <!--Section: Products v.3-->

      <!--Pagination-->
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">
        {% if product.has_previous%}
          <a href="?page=1" class="page-link"><i class="fas fa-angle-double-left "></i></a>
          <a href="?page={{product.previous_page_number}}" class="page-link"><i class="fas fa-angle-left"></i></a>
        {% endif %}

      
        {% for num in product.paginator.page_range%}
          {% if product.number == num %}
            <a class="page-link" href = "?page={{num}}"><strong >{{num}}</strong><a>
        {% elif num > product.number|add:'-3' and num < product.number|add:'3'%}
            <a class="page-link" href = "?page={{num}}">{{ num }}</a>
          {% endif%}
        {% endfor%}
        {% if product.has_next %}
          <a href="?page={{ product.next_page_number}}" class="page-link"><i class="fas fa-angle-right"></i></a>
          <a href="?page={{ product.paginator.num_pages }}" class="page-link"><i class="fas fa-angle-double-right"></i></a>
        {% endif %}
        </ul>
      </nav>

  

      <!--Pagination-->

    </div>
  </main>
  <!--Main layout-->
{% endblock content %}
    </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
</body>

</html>
